* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

body {
  margin: 20px 60px;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  margin-bottom: 60px;
}

header .logo {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

header .name {
  font-size: 3rem;
  color: #2D2D51;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
}

section.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.information .tool-name {
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
  .space {
    margin: 0 4px;
  }
  margin-bottom: 5px;
}

section.information .slogan {
  font-size: 2.5rem;
  color: #737373;
  font-weight: bold;
  margin-bottom: 36px;
}

section.information .get-TUN-eye {
  display: flex;
  align-items: center;
  gap: 25px;
  background-color: #D9D9D9;
  padding: 0 15px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  img {
    width: 40px;
    height: 40px;
    margin-top: 4px;
  }
  .get {
    font-size: 1.5rem;
  }
}

section.information .get-TUN-eye:hover {
  background-color: #000;
  color: #fff;
  .circle {
    background-color: #fff;
  }
}

section.information.information .preview {
  width: 600px;
  height: 600px;
  margin-bottom: 36px;
}

section.information .description {
  font-size: 1.5rem;
  color: #737373;
  margin-bottom: 36px;
}

section.information .code {
  font-size: 1.5rem;
  padding: 10px 30px;
  background-color: #D9D9D9;
  border: none;
  cursor: pointer;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}

section.information .code:hover {
  background-color: #000;
  color: #fff;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #000;
  margin-bottom: 70px;
}

section.features {
  text-align: center;
}

section.features h1 {
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 60px;
}

section.features .all-feature {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px 0;
  margin-bottom: 60px;
}

section.features div > img {
  height: 100px;
  width: 100px;
}

section.features div h2.feature-name {
  font-size: 2.25rem;
  color: #737373;
  font-weight: bold;
  margin: 5px 0 20px;
}

section.features div p.feature-description {
  font-size: 1.5rem;
  color: #737373;
  margin-bottom: 40px;
  padding: 0 75px;
}

section.about {
  text-align: center;
  margin-bottom: 350px;
}

section.about h1 {
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 100px;
}

section.about p.about-this-tool {
  font-size: 1.5rem;
  color: #737373;
  padding: 0 300px;
}